<form action="/<%=@document_name%>" method="post">
  <label for="content">Edit the contents of the document:</label>
  <div>
    <textarea name="content" id="content" cols="100" rows="20">
      <%= @document %>
    </textarea>
  </div>
  <button type="submit">Save Changes</button>
  <a href="/<%=@document_name%>">Cancel</button>
</form>