<% if session[:message] %>
  <p><%=session.delete(:message)%></p>
<% end %>

<ul>
  <% @documents_list.each do |doc_name| %>
    <li><a href="/<%= doc_name%>"><%= doc_name %></a><a href="/<%=doc_name%>/edit">   edit</a></li>
  <% end %>
</ul>
