<form action="/create" method="post">
  <div>
    <label for="document_name">Add a new document:</label>
  </div>
  <div class="document_name">
    <input name="document_name" placeholder="Document name" type="text" value=""><button type="submit">Create</button>
  </div>
</form>